[package]
name = "issuecraft-sdk"
description = "The IssueCraft SDK for building custom clients and integrations"
version.workspace = true
edition.workspace = true
license-file.workspace = true
repository.workspace = true

[dependencies]
