name: Rust

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

env:
    CARGO_TERM_COLOR: always

jobs:
    build_and_test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - name: Build crates
              run: cargo build --all --verbose
            - name: Run integration tests
              run: cargo test -q --color always
            - name: Run unit tests
              run: cargo test --all --exclude issuecraft -q
